@media only screen and (min-width: 721px) and (max-width: 880px){
	.Photos{
		display: none;
	}
	

}


body{
	background: #edeef0;
}

.Left{
	float: left;
	height: 100%;
	width: 30%;
}

.ProfilePhotoSpace{
	background: #fff;
	height: 200px;
	width: 200px;
	margin:auto;
}

.ProfilePhoto{
	background: #edf10a;
	margin: 20px;
	height: 80%;
	width: 80%;
	text-align: center;
}

.Menu{
	margin-top: 5px;
	display:table;
	margin-left: 50%;
}

.Menu a{
	display:table-cell;
	text-align:center;
	height: 40px;
}

.Menu a:hover{
	background: #ffaa11;
}

.Right{
	float:right;
	height: 100%;
	margin-right: auto;
	width: 70%;

}

.Photos{
	background: #fff;
	height: 150px;
	width: 600px;
}

.Posts{
	margin-top: 40px;
	margin-left: auto;

}

.Post{
	margin-top: 20px;
	background: #fff;
	height: 300px;
}

@media only screen and (max-width: 720px){

	.Photos{
		display:none;
	}

	.Left {
		width: 100%;
		height: auto;

	}

	.Right{
		width: 100%;
	}
}